<app-welcome title="Manage users"></app-welcome>

<div class="container mt-5 mb-5">
  <div *ngIf="users.length == 0" class="row">
    <div class="col-4"></div>
    <div class="col-4 text-center">No data found</div>
    <div class="col-4"></div>
  </div>

  <table *ngIf="users.length > 0" class="table">
    <thead class="table-primary">
      <tr>
        <th scope="col">#</th>
        <th class="text-center" scope="col">FirstName</th>
        <th class="text-center" scope="col">LastName</th>
        <th class="text-center" scope="col">Role</th>
        <th class="text-center" scope="col">Adresse</th>
        <th class="text-center" scope="col">Email</th>
        <th class="text-center" scope="col">Telephone</th>
        <th class="text-center" scope="col">Avatar/CV</th>
        <th class="text-center" scope="col">Speciality</th>
        <th class="text-center" scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let u of users">
        <td>{{ u._id }}</td>
        <td class="text-center">{{ u.firstName }}</td>
        <td class="text-center">{{ u.lastName }}</td>
        <td class="text-center">{{ u.role }}</td>
        <td class="text-center">{{ u.adresse }}</td>
        <td class="text-center">{{ u.email }}</td>
        <td class="text-center">{{ u.telephone }}</td>
        <td *ngIf="u.role != 'teacher'">
          <img [src]="u.avatar | safe" style="width: 100%; height: 150px" />
        </td>
        <td class="text-center" *ngIf="u.role == 'teacher'">
          <button
            type="submit"
            class="btn btn-primary btn-lg btn-block"
            (click)="showCV(u.cv)"
          >
            Show CV
          </button>
        </td>
        <td class="text-center" *ngIf="u.role == 'teacher'">
          {{ u.speciality }}
        </td>
        <td class="text-center" *ngIf="u.role != 'teacher'">----</td>

        <td class="text-center">
          <label *ngIf="u.role == 'admin'">----</label>
          <button
            *ngIf="u.role != 'admin'"
            type="submit"
            class="btn btn-primary btn-lg btn-block"
            (click)="delete(u._id)"
          >
            Delete
          </button>
          <button
            *ngIf="u.role == 'teacher' && u.status == 'NOK'"
            type="submit"
            class="btn btn-primary btn-lg btn-block"
            (click)="acceptUser(u._id)"
          >
            Accept user
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
