<section class="team-area section-padding40 fix">
  <div class="container">
    <div class="team-active">
      <div class="single-cat text-center">
        <div class="cat-icon">
          <img
            height="20%"
            width="20%"
            src="../assets/img/gallery/profile2.jpg"
            alt=""
          />
        </div>
        <div class="cat-cap">
          <h5>
            <a href="services.html"
              >Ms/Mr. {{ teacher.firstName }} {{ teacher.lastName }}</a
            >
          </h5>
          <p>Her/His speciality: {{ teacher.speciality }}</p>
          <p>Her/His email adress: {{ teacher.email }}</p>
        </div>
      </div>
      <!-- <div class="single-cat text-center">
        <div class="cat-icon">
          <img src="../assets/img/gallery/team2.png" alt="" />
        </div>
        <div class="cat-cap">
          <h5><a href="services.html">Mr. Uttom</a></h5>
          <p>The automated process all your website tasks.</p>
        </div>
      </div>
      <div class="single-cat text-center">
        <div class="cat-icon">
          <img src="../assets/img/gallery/team3.png" alt="" />
        </div>
        <div class="cat-cap">
          <h5><a href="services.html">Mr. Shakil</a></h5>
          <p>The automated process all your website tasks.</p>
        </div>
      </div>
      <div class="single-cat text-center">
        <div class="cat-icon">
          <img src="../assets/img/gallery/team4.png" alt="" />
        </div>
        <div class="cat-cap">
          <h5><a href="services.html">Mr. Arafat</a></h5>
          <p>The automated process all your website tasks.</p>
        </div>
      </div>
      <div class="single-cat text-center">
        <div class="cat-icon">
          <img src="../assets/img/gallery/team3.png" alt="" />
        </div>
        <div class="cat-cap">
          <h5><a href="services.html">Mr. saiful</a></h5>
          <p>The automated process all your website tasks.</p>
        </div>
      </div> -->
    </div>
  </div>
</section>
